<h1>Stocking</h1>
<p>Hello!  This is my first Rails App!</p>

<% StockQuote::Stock.new(api_key: 'sk_03de06d48e204c858c4b8980cd9484a0') %>

<%  stock = StockQuote::Stock.quote("t") %>

<%+ stock.inspect %>